@media screen and (max-width:479px) {
    #header {
        width: 200px;
        height: 210px;
    }
    .white {
        width: 60px;
        height: 160px;
        left: 70px;
    }
    .box3:nth-child(2) {
        top: 60px;
        left: 10px;
    }
    .box3:nth-child(3) {
        top: 110px;
        left: 10px;
    }
    #main {
        width: 200px;
    }
    .left {
        width: 200px;
        height: 60px;
    }
    .right {
        width: 200px;
        height: 200px;
        position: relative
    }
    .orange:first-child {
        top: 20px;
        left: 30px;
    }
    .orange:nth-child(2) {
        top: 75px;
        left: 30px;
    }
    .orange:nth-child(3) {
        bottom: 20px;
        left: 30px;
    }
    #footer {
        width: 200px;
        
    }
}